<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.shiro.entity.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="roleName" jdbcType="VARCHAR" property="rolename"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , roleName, description
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_role
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_role
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiro.entity.Role"
            useGeneratedKeys="true">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rolename != null">
                roleName,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rolename != null">
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.shiro.entity.Role">
        update t_role
        <set>
            <if test="rolename != null">
                roleName = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryRole" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select r.*
        from t_role as r
                 inner join t_user_role as ur on ur.roleId = r.id
        where ur.userId = #{userId}
    </select>
</mapper>